.features-center {
    padding-left: 100px;
    padding-right: 100px;
    background: var(--clr-grey-3);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.feature {
    text-align: left;
    align-items: left;
    padding: 2.5rem 1rem;
    border-radius: var(--radius);
}

.feature i {
    font-size: 3rem;
    width: 4rem;
    height: 4rem;
    display: grid;
    margin-bottom: 0.3rem;
}

.feature h3 {
    margin-top: 10px;
    font-weight: 700;
}

.feature p {
    margin: 15px 0 0;
    line-height: 1.5;
    font-size: 16px;
    color: var(--clr-primary-1);
}