:root {
  --clr-grey-1: #A4A4A4;
  --clr-grey-2: #EBEBEB;
  --clr-grey-9: #F3F3F3;
  --clr-grey-3: #FCF8FD;
  --clr-grey-10: hsla(213, 35%, 94%, 0.753);
  --radius: 0.5rem;
  --clr-primary-10: hsla(288, 78%, 39%, 0.87);
  --clr-primary-11: #8D28AD;
  --clr-primary-5: hsl(281, 63%, 48%);
  --clr-primary-4: #CA8FDD;
  --clr-white: #fff;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
body {
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 80px;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

li {
  list-style: none;
}

.container {
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .container {
    max-width: 1320px;
  }
}